.truck-card {
    display: flex;
    align-self: center;
    flex-direction: column;
    background: $dark-blue-green;
    min-height: 200px;
    width: 40%;
    min-width: 300px;
    color: white;
    margin-bottom: 10px;
    border: thick solid $light-blue-green;
}

.box1, .box2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 15px;
    padding-left: 10px;
    padding-right: 10px;

}

.box2 {
    font-size: 10px;
}

.truck-logo {
    height: 75px;
    width: 75px;
    padding-right: 10px;
}

.truck-name {
    padding-right: 10px;
}

a {
    text-decoration: none;
}