form {
    background: $dark-blue-green;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-self: center;
    width: 50%;
    box-shadow: 10px 10px $yellow;
    min-height: 500px;
    border-radius: 10px;
}

input {
    background: $light-blue-green;
    text-decoration-color: $yellow;
    border-radius: 5px;
    height: 30px;
    width: 200px;
}

input::placeholder {
    font-family: 'Lakki Reddy', cursive;
}