form {
    background-color: rgba(1,89,91, .8);
    @include flexStyle(flex, column, justify-content, center);
    align-items: center;
    align-self: center;
    width: 90%;
    min-width: 200px;
    min-height: 425px;
    border-radius: 10px;
    margin: 80px;
    text-align: center;
    color: rgb(187,230,246);
}

.error {
    color: red;
}

.filler-text {
    font-size: 1.5em;
}

.form-prompt {
    font-weight: 500;  
    font-size: 1.8em;
    justify-self: start;
}

input {
    background: $light-blue-green;
    text-decoration-color: $yellow;
    border-radius: 5px;
    @include boxSize(200px, 30px);
    font-size: 1.5em;
}

input::placeholder {
    font-size: 1em;
}

.go-back-link {
    color: $yellow; 
    font-size: 1.5em;
}

@media screen and(min-width: 500px) {
    form {
      width: 60%; 
    }
}

@media screen and(min-width: 900px) {
    form {
      width: 40%; 
    }
}
