form {
    background: $dark-blue-green;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-self: center;
    width: 90%;
    min-height: 425px;
    border-radius: 10px;
    margin: 80px;
    min-width: 200px;
    text-align: center;
    color: white;
}

.filler-text {
    font-size: 1.5em;
}

.form-prompt {
    color: $yellow;
    font-weight: 500;  
    font-size: 1.8em;
    justify-self: start;
}

input {
    background: $light-blue-green;
    text-decoration-color: $yellow;
    border-radius: 5px;
    height: 30px;
    width: 200px;
    font-size: 1.5em;
}

input::placeholder {
    font-size: 1em;
}

.back-to-login-link {
    color: $yellow; 
    font-size: 1.5em;
}

@media screen and(min-width: 500px) {
    form {
      width: 60%; 
    }
}

@media screen and(min-width: 900px) {
    form {
      width: 40%; 
    }
}