.social-link-list {
  @include flexStyle(flex, row, justify-content, space-around); 
  padding: 0px;  
  list-style-type: none;
}

.social-media-icon {
  @include boxSize(35px, 35px); 
  color: $light-blue-green; 
}

.social-link {
  display: inline-block; 
}