.header {
  background-color: $dark-blue-green; 
}

.header-title {
  margin: 0; 
  padding: 25px 0px 15px 10px;
  color: $yellow; 
  font-family: 'Lakki Reddy', cursive; 
}

.header-color-bar {
  height: 15px; 
  background-color: $light-blue-green;  
}