.map-container {
  display: flex; 
  justify-content: center;  
}

.map-buttons-container {
  margin: 10px; 
}

.map {
  height: 400px;
  width: 100%; 
}

@media screen and(min-width: 900px ) {
  .map {
    width: 90%;
  }
}