@import 'normalize.css';
@import './partials/_variables.scss';
@import './components/App.scss';
@import './components/Header/Header.scss';
@import './components/Form/Form.scss';
@import './components/MapView/MapView.scss';
@import './components/Form/Form.scss';
@import './components/TruckCard/TruckCard.scss';
@import './components/TruckList/TruckList.scss';

body {
  font-size: 62.5%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.button {
  background-color: $light-blue-green;
  border: none;
  padding: 10px;
  margin: 10px; 
  border-radius: 5px;  
  font-size: 1.4em; 
  font-weight: 600;
  cursor: pointer;
}
